*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.logo{
    line-height: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    font-size: 30px;
}
header{
    height: 50px;
    width: 100%;
    border: solid 3px;
}
header ul{
float: right;
margin-right: 20px;
font-size: 30px;
}
header ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
    color: rgb(235, 75, 75);
    }
.text1{
    border: 3px inset black;
    width: 300px;
    height: 300px;
    margin-left: 300px;
    
    
}
#img1{
    float: right 90px;
 background-color: rgb(206, 224, 239);
  padding: 40px;
    width: 800px;
    height: 800px;
    box-shadow: 3px 3px 3px 3px;
    
    
       
}
.apos{
margin-top: 10px;
margin-left:30% 
}
.loup{
    color: rgb(104, 55, 238);
    font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}
.sec52{
margin-top: 30px;
margin-left: 90px;



}
.art{
    box-shadow:1px 1px 1px 1px ;
    display: inline 300px;
    color: rgb(71, 71, 235);
    
}

/* footer {  
     
   display: inline-flex;
   border: solid 1px;
   margin-left: 100px;
    
}
.ls{ 
    display: flex;
margin: 15px;
margin-top: 50px;
}
.lg{
    display: flex;
    margin: 15px;
    margin-top: 50px;
}
.lie{
    display: flex;
    margin: 15px;
    margin-top: 50px;
    margin-right: 100px;
}
h1{
    margin-bottom: 30px;
    margin-left: 100px;
    padding-left: 30px;
}
 

/*.lift{
    margin: 10px; 
    color: #582D1D;
    padding: 100px;
    
}
.ft{
    list-style: none;
}
.lifot{
    text-decoration: none;
    margin: 10px;
    color: #582D1D;
    display: flex;
}*/

#foot{
    color: rgb(68, 68, 230);
    text-align: center;
    margin-bottom:  30px;
}

.contactez-nous {
    width: 200px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 20px 0 20px;
    background: white;
    color: blue;
    padding: 15px;
    }
    
    .contactez-nous > h1 {
    font-weight: 100;
    
    }
    
    .contactez-nous > p {
    font-weight: 100;
    }
    form{
        margin-left: 250px;
        padding: 70px;
        
    }
    
    form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 53px;
    margin-top: 15px;
    }
    
    form div > label {
    margin-bottom: 5px;
    font-weight: 100;
    }
    
    form div > input, form div > select, form div > textarea {
    background: #fefefe;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 100;
    font-family: Montserrat, "sans-serif";
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
    color: blue;
    padding: 15px;
    }
    
    form div > input, form div > select {
    height: 20px;
    padding-left: 10px;
    }
    
    form div > select {
    appearance: none;
    background-size: 15px;
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    }
    
    form div > textarea {
    height: 100px;
    padding: 10px 0px 0px 10px;
    }
    
    form button {
    width: 400px;
    max-width: 500px;
    height: 70px;
    font-weight: 700;
    font-size: 28px;
    background: rgb(19, 10, 191);
    border: rgba(18, 17, 17, 0.5) solid 2px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #fffefe;
    }
#img1{
    margin-left: 24%;
    border: #0c0c0c 10%;
    width: 800px;
    height: 500px;
}

th{
    border: 1px solid  rgb(209, 208, 208);
    background-color:rgb(5, 5, 78);
    color: white;
    font-size: 1.2em;
    height: 10vh;
}

td{
    border: 1px solid rgb(209, 209, 209);
    padding: 5px;
    color: rgb(96, 96, 243);
    

}
table{
    border-collapse: collapse;   
}
.sec1{
    margin-top: 20px;
    margin-left:25%;
    background-color: rgb(246, 246, 246);
    width: 113vh;
    height: 78vh;
    padding: 15px;
    box-shadow: 4px 8px 16px rgb(182, 179, 179);
}
button{
    background-color:rgb(5, 5, 78);
    color: white;
    padding: 5px;
    border-radius: 8px;
   
}
.lienne{
    color: white;
    font-size: 1.4em;
    
}

section {
  padding: 40px 50px;
}

.home-title {
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
}

section .home-container {
  display: flex;
  align-items: center;
}

.home-container img {
  height: 420px;
  width: 420px;
  border-radius: 50%;
  border: solid 2px #333;
}

article {
  margin-left: 30px;
  border: solid 2px #0c0c0c;
  padding: 30px;
}
.article-list {
    display: grid;
    grid-template-columns: repeat(3, 18rem);
    gap: 0 1rem;
    width: fit-content;
    margin: 0 auto;
    }
    .article__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
    .home-content {
        max-width: 600px;
    }
    .home-content h3{
    font-size: 32px;
    font-weight: 700;
    }
    .home-content h1{
        font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    }
    .home-content p{
    font-size: 20px;
    }
    .home-sci a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px;
    }
        